<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gestion des Seances de Cours</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    </head>
    <body>    <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">Barre de navigation</a>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href = "@{/prof}" >Vos Profs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href = "@{/seancecours}">Vos Séances de Cours </a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </nav>
        <hr />

        <div class="container">
            <center><h1>Gestion des Profs</h1> </center>
            <hr />
            <br><br>
            <br><br>
                            <h3>Mettre à jour un Prof</h3>

                            <form action="#" th:action="@{/prof/saveUpdate}" th:object="${prof}" method="POST">
                                <div class="mb-4 col-4">
                                    <input type="hidden" th:field="*{id}" class="form-control" />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label th:for="nom">Nom</label>    
                                        <input type="text" th:field="*{nom}" class="form-control" />
                                        <span class="text-danger" th:errors="*{nom}"></span>
                                    </div>
                                    <div class="col">
                                        <label th:for="prenom">Prenom</label>    
                                        <input type="text" th:field="*{prenom}" class="form-control" />
                                        <span class="text-danger" th:errors="*{prenom}"></span>
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <div class="col">
                                        <label th:for="dateNaiss">Date de Naissance</label>
                                        <input type="date" th:field="*{dateNaiss}" class="form-control" />
                                        <span class="text-danger" th:errors="*{dateNaiss}"></span>
                                    </div>
                                    <div class="col">
                                        <label th:for="sexe">Sexe</label>
                                        <input type="text" th:field="*{sexe}" class="form-control" />
                                        <span class="text-danger" th:errors="*{sexe}"></span>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-info btn-lg">Sauvgarder</button>
                                    <a th:href = "@{/prof}" class="btn btn-warning btn-lg">Annuler</a>
                                </div>
                            </form>

                            
                            </div>
        <hr  /> 

                            <footer class="bg-light text-center">
                                <!-- Grid container -->
                                <div class="container p-4 pb-0">
                                    <!-- Section: Form -->
                                    <section class="">
                                        <form action="">
                                            <!--Grid row-->
                                            <div class="row d-flex justify-content-center">
                                                <!--Grid column-->
                                                <div class="col-auto">
                                                    <p class="pt-2">
                                                        <strong>Suivez mon actualité</strong>
                                                    </p>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-5 col-12">
                                                    <!-- Email input -->
                                                    <div class="form-outline mb-4">
                                                        <input type="email" id="form5Example27" class="form-control" />
                                                        <label class="form-label" for="form5Example27">Adresse e-mail</label>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-auto">
                                                    <!-- Submit button -->
                                                    <button type="submit" class="btn btn-primary mb-4">
                                                        S'inscrire 
                                                    </button>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                        </form>
                                    </section>
                                    <!-- Section: Form -->
                                </div>
                                <!-- Grid container -->

                                <!-- Copyright -->
                                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                                    © 2022 Copyright:
                                    <a class="text-dark" href="https://mdbootstrap.com/">yacinetamindjoute.com</a>
                                </div>
                                <!-- Copyright -->
                            </footer>
                            </body>
                            </html>

